html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title createUser
  body 
    h1 Home
    hr
    a(href='/users/signup')
      button Sign up
    a(href='/users/login')
      button login
    a(href='/recipe/search')
      button recipe search
    a(href='/users/ingredients')
      button user's ingredients
    a(href='/recipe/foodsearch')
      button food search