doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Recipe Search
    body
        h1 Recipe Search
        h2 ex. 양파, 대파, 마늘
        form
            p ingredieant : 
                input(type="text" name="ingredients")
        button(class='ajaxsend') submit
        div(class='result')

        script(type='text/javascript').
            document.querySelector('.ajaxsend').addEventListener('click', () => {
                const ingredients = document.forms[0].elements[0].value.split(', ').sort();
                const inputData = {
                    ingredients: ingredients,
                };
                const url = "http://localhost:3001/recipe/search";
                ajax_send(url, inputData);

                function ajax_send(url, inputData) {
                    var data = JSON.stringify(inputData);
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', url);
                    xhr.setRequestHeader('content-type', 'application/json');
                    xhr.send(data);
                    xhr.addEventListener('load', () => {
                        const result = JSON.parse(xhr.responseText).data;
                        document.querySelector(".result").innerHTML= JSON.stringify(result);
                    });
                }
            });