/*메인화면 버튼 색상*/


/*재료추가 css*/

.regis{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.regisname{
    margin: 10px;
}

header{
    width: 100%;
    height: 100px;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.category-img{
    width: 100%;
    height: auto;
}

.categry-btn{
   border: 0;
   outline: 0;
   background-color: transparent;

    width: 13%;
    height: auto;
    margin-left: 3%;  
}
.categry-btn :hover{
    opacity: 0.5;
}

.categry-btn :active{
    opacity: 1;
}

.content-header{
    margin-top: 30px;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3%;
}

/*전체레시피*/
.foodimge{
    width: 30%;
    height: 15%;
    background-size: cover;
}
.food-card{
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #C4C4C4;;
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
}

.allrecipe{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.allrecipe_content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.foodname{
    width: 100%;
    font-size: 30px;
    margin-left: 2%;
    margin-bottom: 10px;
}

.star{
    margin-left: 2%;
}

/*즐겨찾기*/
.favimge{
    width: 100px;
    height: 100px;
    opacity: 1;
    
}