doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title createUser
    body 
        form
            div
                p --------------------------------------------
                p id
                input(type="text" name="id")
                p --------------------------------------------
            div
                p password
                input(type="password" name="password")
                p --------------------------------------------
            div
                p name
                input(type="text" name="name")
                p --------------------------------------------
            div
                button(class='ajaxsend') submit
            a(href='/')
                button home
        div(class='result')
        script(src="")
            document.querySelector('.ajaxsend').addEventListener('click', () => {
                var id = document.forms[0].elements[0].value;
                var password = document.forms[0].elements[1].value;
                var name = document.forms[0].elements[2].value;
                var inputData = {
                    'id': id,
                    'password': password,
                    'name': name
                };
                ajax_send("http://localhost:3000/users/createUser");

                function ajax_send(url, inputData) {
                    var data = JSON.stringfy(inputData);
                    var shr = new XMLHttpsRequest();
                    xhr.open('POST', url);
                    xhr.setRequestHeader('content-type', 'application/json');
                    xhr.send(data);

                    xhr.addEventListener('load', () => {
                        var result = JSON.parse(xhr.responseText);
                        if (result.result === 'fail') {
                            document.querySelector('.result').innerHTML="동일한 사용자가 이미 존재합니다.";
                        } else {
                            document.querySelector('.result').innerHRML='회원가입 성공';
                        }
                    })
                }
            }
