doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title createUser
    body 
        form
            div
                p --------------------------------------------
                p id
                input(type="text" name="id")
                p --------------------------------------------
            div
                p password
                input(type="password" name="password")
                p --------------------------------------------
            div
                p name
                input(type="text" name="name")
                p --------------------------------------------
            div
                button(class='ajaxsend') submit
        a(href='/')
            button home
        div(class='result')
        script(src='createUser.js')